@model IAsyncEnumerable<PropertyViewModel>
@{
    ViewData["Title"] = "Properties";
}

    <div class="container">
        @if (Model != null && await Model.AnyAsync().ConfigureAwait(false))
        {
        <div class="row">
            @await foreach (var item in Model)
            {
                <div class="col-6">
                    <div class="card property mb-3">
                        <img src="@item.ImageUrl" />
                        <div class="card-body">
                            <h5 class="card-title">@item.Address</h5>
                            <p class="card-text">@item.Description</p>
                        </div>
                        <div class="card-footer">
                            <span class="price">@item.ListPrice</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        }
</div>
